/* src/components/Quizdisplay.css */

.quiz-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header-for-title {
  width: 100%;
  background-color: #0066cc;
  color: #fff;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;

  /* New styles to center the header content */
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  
}

.quiz-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin-top: 2rem;
}

.quiz-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  padding: 1rem;
}

.quiz-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.quiz-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.quiz-card-content 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.quiz-card-description {
  color: #333;
  font-size: 1rem;
}

.quiz-card-button {
  background-color: #0066cc;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1rem;
}

.quiz-card-button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 900px) {
  .quiz-cards-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .quiz-cards-container {
      grid-template-columns: 1fr;
  }
}
